<form 
    action="/login"
    method="post"
    name="loginForm"
    class="card col-12"
    enctype="application/x-www-form-urlencoded"
    >
    <div class="card-header col-12">
        Login Form
    </div>

    <div class="card-footer container-fluid col-12 d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-lg col-12 btn-primary">Login</button>
    </div>
</form>