<nav class="container-fluid col-12 position-relative">

    <div class="nav-inner container-fluid col-12 row position-relative">

        <div class="nav-logo col-lg-6 col-md-6 col-sm-12">
            <a href="/"><img src="/public/assets/logo.png" alt="Logo" width="85" height="85"></a>
        </div>
        <ul class="nav-links col-lg-6 col-md-6 col-sm-12">
            <li class="nav-link"><a href="/" class="link">Home</a></li>
            <li class="nav-link"><a href="/api/auth/login" class="link">Login</a></li>
            <li class="nav-link"><a href="/api/auth/register" class="link">Register</a></li>
        </ul>
    </div>
</nav>