<section class="container-fluid p-5">

    <!-- Register Form -->
    <div class="container-fluid col-lg-4 col-md-6 col-sm-12">
        <%- include("partials/register-form.ejs") %>
    </div>
</section>